node_modules
npm-debug.log
.git
.gitignore
README.md
.env
.env.*
config/*.env
dist
build
coverage
logs
*.log
.DS_Store
.vscode
.idea
*.md
docker-compose*.yml
Dockerfile
.github
.gitlab-ci.yml
.travis.yml
.circleci

