{
  "parser": "@typescript-eslint/parser",
  "plugins": ["import", "unused-imports"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "@typescript-eslint/no-explicit-any": "off",
    "no-console": "error",
    "unused-imports/no-unused-imports": "error",
    "@typescript-eslint/no-unused-vars": [
      "error", { "argsIgnorePattern": "^_" }],
    "prettier/prettier": [
      "error",
      {
        "arrowParens": "avoid",
        "singleQuote": true,
        "semi": true,
        "tabWidth": 2,
        "useTabs": false,
        "trailingComma": "all",
        "jsdoc-format": false,
        "endOfLine": "auto"
      }
    ],
    "import/order": [
      "error",
      {
        "groups": [
          "builtin",
          "external",
          ["internal", "parent", "sibling"],
          "index",
          "object",
          "type"
        ]
      }
    ]
  }
}
