# node modules
node_modules

# builded sources
build
dist

# coverage reports
coverage

# IntelliJ stuffs
.idea/

# parcel cache
.cache

config/*
!config/example.env
!config/test.env
.vscode/settings.json

*.rdb

src/scripts/*.json


*.log
*.log.*

.adminbro
.adminjs
./src/adminjs
./src/server/adminjs
./src/server/adminJs/adminjs

.DS_Store
